In [1]:
#读入数据
import pandas as pd;
data_all=pd.read_csv('stock_px.csv',parse_dates=True,index_col=0);
data=data_all[['AAPL','MSFT','XOM']]
data

              AAPL   MSFT    XOM
2003-01-02    7.40  21.11  29.22
2003-01-03    7.45  21.14  29.24
2003-01-06    7.45  21.52  29.96
2003-01-07    7.43  21.93  28.95
2003-01-08    7.28  21.31  28.83
2003-01-09    7.34  21.93  29.44
2003-01-10    7.36  21.97  29.03
2003-01-13    7.32  22.16  28.91
2003-01-14    7.30  22.39  29.17
2003-01-15    7.22  22.11  28.77
2003-01-16    7.31  21.75  28.90
2003-01-17    7.05  20.22  28.60
2003-01-21    7.01  20.17  27.94
2003-01-22    6.94  20.04  27.58
2003-01-23    7.09  20.54  27.52
2003-01-24    6.90  19.59  26.93
2003-01-27    7.07  19.32  26.21
2003-01-28    7.29  19.18  26.90
2003-01-29    7.47  19.61  27.88
2003-01-30    7.16  18.95  27.37
2003-01-31    7.18  18.65  28.13
2003-02-03    7.33  19.08  28.52
2003-02-04    7.30  18.59  28.52
2003-02-05    7.22  18.45  28.11
2003-02-06    7.22  18.63  27.87
2003-02-07    7.07  18.30  27.66
2003-02-10    7.18  18.62  27.87
2003-02-11    7.18  18.25  27.67
2003-02-12    7.20  18.25  27.12
2003-02-13    7.27  18.46  27.47
...            ...    ...    ...
2011-09-02  374.05  25.80  72.14
2011-09-06  379.74  25.51  71.15
2011-09-07  383.93  26.00  73.65
2011-09-08  384.14  26.22  72.82
2011-09-09  377.48  25.74  71.01
2011-09-12  379.94  25.89  71.84
2011-09-13  384.62  26.04  71.65
2011-09-14  389.30  26.50  72.64
2011-09-15  392.96  26.99  74.01
2011-09-16  400.50  27.12  74.55
2011-09-19  411.63  27.21  73.70
2011-09-20  413.45  26.98  74.01
2011-09-21  412.14  25.99  71.97
2011-09-22  401.82  25.06  69.24
2011-09-23  404.30  25.06  69.31
2011-09-26  403.17  25.44  71.72
2011-09-27  399.26  25.67  72.91
2011-09-28  397.01  25.58  72.07
2011-09-29  390.57  25.45  73.88
2011-09-30  381.32  24.89  72.63
2011-10-03  374.60  24.53  71.15
2011-10-04  372.50  25.34  72.83
2011-10-05  378.25  25.89  73.95
2011-10-06  377.37  26.34  73.89
2011-10-07  369.80  26.25  73.56
2011-10-10  388.81  26.94  76.28
2011-10-11  400.29  27.00  76.27
2011-10-12  402.19  26.96  77.16
2011-10-13  408.43  27.18  76.37
2011-10-14  422.00  27.27  78.11

[2214 rows x 3 columns]

In [2]:
#时序图
import matplotlib.pyplot as plt;
#plt.rcParams['font.sans-serif'] = ['SimHei'] #用来正常显示中文标签
#plt.rcParams['axes.unicode_minus'] = False #用来正常显示负号
data.plot()
plt.show()

In [3]:
#自相关图
#from statsmodels.graphics.tsaplots import plot_acf
#plot_acf(data[['AAPL']]).show()

In [8]:
#平稳性检测
from statsmodels.tsa.stattools import adfuller as ADF
print( ADF(data))
#返回值依次为adf、pvalue、usedlag、nobs、critical values、icbest、regresults、resstore

SyntaxError: invalid syntax (<ipython-input-8-0ddfce81f5d1>, line 3)